<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us - Craft Community Hub</title>
    <link rel="stylesheet" href="../static/about.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>
<body>
    <nav class="navbar">
        <h1><i class="fas fa-store"></i> Craft Community Hub</h1>
        <ul>
            <li><a href="/customer-dashboard"><i class="fas fa-home"></i> Home</a></li>
            <li><a href="/products"><i class="fas fa-gift"></i> Products</a></li>
            <li><a href="/ratings"><i class="fas fa-star"></i> Ratings</a></li>
            <li><a href="/about"><i class="fas fa-info-circle"></i> About</a></li>
            <li><a href="/contact"><i class="fas fa-envelope"></i> Contact</a></li>
            <li><a href="/cart" class="cart-icon"><i class="fas fa-shopping-cart"></i>Cart</a></li>
            <li><a href="/my-orders">My Orders</a></li>
            <li><a href="/logout" class="fas fa-logout">Logout</a></li>
        </ul>
    </nav>

    <section id="about" class="about-section">
        <div class="container">
            <h2>About Us</h2>
            <div class="about-content">
                <img src="../static/pottery.jpg" height="400px" width="400" alt="Craft Community">
                <p><b>Welcome to Craft Community Hub! We are dedicated to connecting artisans and craft enthusiasts from all over the world. Our mission is to provide a platform where creativity thrives, and handmade crafts are celebrated. We believe that each craft tells a story and reflects the unique skills of its creator.</b></p>
            </div>
            <br>
            <div class="about-content">
                <img src="../static/basket.jpg" height="400px" width="400" alt="Craft Community">
                <p><b>At Craft Community Hub, we offer a diverse range of handmade products, from pottery and textiles to jewelry and home decor. Our platform is designed to support local artists by providing them with the visibility they deserve. Whether you're a seasoned artisan or a newcomer, we invite you to join us in celebrating the beauty of craftsmanship!</b></p>
            </div>
        </div>
    </section>
</body>
</html>
