<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Login - Craft Community Hub</title>
    <link rel="stylesheet" href="../static/customer.css">
</head>
<body>
    <div class="login-container">
        
            <h2>Customer Login</h2>
            <form action="/customerlogin1" method="post">
                <div class="input-box">
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email" required>
                </div>
                <div class="input-box">
                    <label for="password">Password:</label>
                    <input type="password" id="password" name="password" required>
                </div>
                <button type="submit">Login</button>
                
            </form>
            <div>
                <center>
                    <p>{{status}}</p>
                </center>
            </div>
            <p>Don't have an account? <a href="/customer-singup">Sign up </a></p>            
    </div>
    <script src="../static/customer.js"></script>
</body>
</html>
