<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seller Signup</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <div class="signup-container">
        <h2>Seller Signup</h2>
        <form action="/selsignup1" method="post">
            <label for="seller-name">Names:</label>
            <input type="text" id="seller-name" name="seller-name" required>
            
            <label for="seller-email">Email:</label>
            <input type="email" id="seller-email" name="seller-email" required>
            
            <label for="seller-password">Password:</label>
            <input type="password" id="seller-password" name="seller-password" required>
            
           <button type="submit" class="btn">Signup</button>

        </form>
        <a href="/seller1-login">Login</a>
        <div>
            <center>
                <p>{{status}}</p>
            </center>
        </div>
        
    </div>
</body>
</html>
